body {
  font-family: Arial, sans-serif;
  background-color: #2d2929;
}

.container {
  width: 430px;
  margin: 50px auto;
  background: white;
  padding: 20px;
  border-radius: 8px;
}

h1 {
  text-align: center;
}

.input-section {
  display: flex;
  gap: 5px;
  border-spacing: 30px;
  border-radius: 10px;
}

input {
  flex: 1;
  padding: 8px;
  border-style: groove;
  border-radius: 10px;
}

button {
  padding: 8px 10px;
  cursor: pointer;
  border-radius: 8px;
  color:rgb(64, 64, 74);
  background-color: chartreuse;
  font-weight: 500;
}
button:active{
  background-color: blueviolet;
}
ul {
  list-style: none;
  padding: 0;
  margin-top: 15px;
}

li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #eee;
  padding: 8px;
  margin-bottom: 5px;
  border-radius: 6px;
  gap: 10px;
}

.date {
  font-size: 16px;
  color: #666;
  min-width: 90px;
}

.completed {
  text-decoration: line-through;
  color: gray;
}

.stats {
  margin-top: 10px;
}

.clear {
  width: 100%;
  margin-top: 10px;
  background-color: crimson;
  color: white;
  border: none;
}
